* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	background-color: #262626;
	color: #d9d9d9;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

input,
textarea {
	margin-bottom: 10px;
	font-family: 'Inter', sans-serif;
}

input[type='text'],
input[type='email'] {
	width: 100%;
	border-radius: 3px;
	border: none;
	height: 30px;
	margin-bottom: 10px;
	text-indent: 5px;
}

input[type='radio'],
input[type='checkbox'] {
	margin-right: 7px;
}

textarea {
	width: 100%;
	border-radius: 3px;
	border: none;
	height: 70px;
	margin-bottom: 10px;
	text-indent: 5px;
}

label.favColor {
	display: block;
}
